.body{
    margin-top: 72px;
    margin-left: 68px;
    background: var(--Lg_Bg);
    padding: 20px;
    padding-bottom: 80px;
    height: calc(100vh - 72px);
    overflow-y: auto;
}

.body::-webkit-scrollbar{
    display: none;
}


/* tabs section start  */
.tabs_div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.tabs_div .left .nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.tabs_div .nav-link{
    color: var(--B2);
    font-size: var(--Font_14);
    letter-spacing: 0.28px;
    margin: 0;
    padding: 8px 16px;
    border-radius: 12px !important;
    border: 1px solid var(--B3);
    background: var(--Bg);
}

.nav-pills .nav-link.active, 
.nav-pills .show>.nav-link{
    border: 1px solid var(--Blue) !important;
    background: var(--Blue) !important;
    color: var(--White);
}

.tabs_div .right{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tabs_div .right a img{
    border: 1px solid var(--B2);
    padding: 10px;
}

.tabs_div .right a:first-child img{
    border-radius: 12px 0 0 12px;
}

.tabs_div .right a:last-child img{
    border-radius: 0 12px 12px 0;
    border-left: none;
}
/* tabs section end  */

/* noc start  */
.noc{
    border-radius: 12px;
    background: #11293B;
    padding: 9px;
    position: fixed;
    bottom: 0;
    left: 98px;
    right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.noc .left{
    padding-right: 12px;
    margin-right: 12px;
    border-right: 2px solid var(--Blue3);
}

.noc .left h4{
    color: var(--Blue);
    font-size: var(--Font_14);
    letter-spacing: 0.28px;
    margin: 0;
    border-radius: 12px;
    border: 1px solid var(--Blue);
    background: var(--Bg);
    padding: 9px 12px;
}

.noc .right{
    width: auto;
    overflow: hidden;
}

.o_carousel .item{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: 9px 12px;
    border-radius: 12px;
    border: 1px solid #607D93;
    background: #122839;
}

.o_carousel .item h4{
    color: var(--B3);
    font-size: var(--Font_14);
    letter-spacing: 0.28px;
    margin: 0;
    width: max-content;
}

.o_carousel .item img{
    width: 16px !important;
    height: 16px;
}

.owl-theme .owl-dots{
    display: none;
}

.no-js .owl-carousel, 
.owl-carousel.owl-loaded{
    padding: 0 36px;
}

.owl-theme .owl-nav{
    margin: 0 !important;
    /* position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between; */
    padding: 0 !important;
}

.owl-carousel .owl-nav .owl-next{
    width: 24px;
    height: 24px;
    color: var(--B3);
    margin: 0 !important;
    position: absolute;
    top: 5px;
    right: 0;
} 

.owl-carousel .owl-nav .owl-prev{
    width: 24px;
    height: 24px;
    color: var(--B3);
    margin: 0 !important;
    position: absolute;
    top: 5px;
    left: 0;
}

.owl-theme .owl-nav [class*=owl-]:hover{
    background: none !important;
}
/* noc end  */





/* filter start  */
.delete_f{
    width: 460px;
    height: max-content !important;
    border-radius: 24px;
    background: var(--Bg) !important;
    margin: auto;
    bottom: 0;
    top: 0;
}

.delete_f .offcanvas-header{
    padding: 16px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.delete_f .offcanvas-header h5{
    color: var(--White);
    font-size: var(--Font_16);
    font-weight: 700;
    margin: 0;
    letter-spacing: 0.32px;
}

.delete_body{
    overflow: hidden !important;
    padding: 20px;
}

.delete_body p{
    color: var(--White);
    font-size: var(--Font_16);
    letter-spacing: 0.32px;
    margin: 0;
}

.delete_body h3{
    margin: 20px 0 0;
    color: var(--Green);
    font-size: var(--Font_16);
    font-weight: 700;
    line-height: 120%;
}

.delete_body .close_btn{
    margin: 32px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
}

.delete_body .close_btn a{
    width: 100%;
    text-align: center;
}

.delete_body .close_btn li{
    color: var(--Lg_Blue);
    font-size: var(--Font_16);
    letter-spacing: 0.32px;
    margin: 0;
    width: 100%;
    padding: 11px 0;
    border-radius: 12px;
    border: 1px solid var(--Lg_Blue);
}

.delete_body .close_btn a:last-child li{
    background-color: var(--Blue);
    color: var(--White);
}

/* sdafsa df  */
.route_f{
    width: 360px !important;
    background: var(--Bg) !important;
}

.route_f .offcanvas-header{
    padding: 16px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.route_f .offcanvas-header h5{
    color: var(--White);
    font-size: var(--Font_16);
    font-weight: 700;
    margin: 0;
    letter-spacing: 0.32px;
}

.offcanvas_body{
    padding: 20px;
}

.offcanvas_body .box1{
    position: relative;
}

.offcanvas_body .box1 .box2 h4{
    color: var(--White);
    font-size: var(--Font_14);
    margin: 0 0 8px 32px;
    letter-spacing: 0.28px;
}

.box2 .select_box{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.offcanvas_body .box1 .box2 .dot{
    width: 12px;
    height: 12px;
    background: var(--B3);
    border-radius: 50%;
}

.select_box select{
    width: 100%;
    padding: 11px 16px;
    color: #EEF9FF;
    font-size: var(--Font_16);
    letter-spacing: 0.32px;
    border-radius: 8px;
    border: 1.7px solid var(--B3);
    background: #253C4E;
}

.offcanvas_body .box1 .dot2{
    width: 2px;
    height: 100px;
    border-left: 4px dotted var(--B3);
    position: absolute;
    top: 50px;
    left: 3px;
    bottom: 0;
}

.r_f_buttons{
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: absolute;
    bottom: 48px;
    left: 52px;
    right: 20px;
}

.r_f_buttons a{
    width: 100%;
    text-align: center;
}

.r_f_buttons a:first-child li{
    background-color: var(--Blue);
}

.r_f_buttons a li{
    color: var(--Lg_Blue);
    font-size: var(--Font_16);
    margin: 0;
    letter-spacing: 0.32px;
    border-radius: 12px;
    border: 1px solid var(--Lg_Blue);
    background: #19384F;
    padding: 11px 0;
}

.range1{
    margin: 37px 0 0 32px;
}


/* 2#  */
.offcanvas_body22{
    overflow-y: scroll;
    height: 100%;
}

.offcanvas_body22::-webkit-scrollbar{
    display: none;
}

.simulation_f{
    width: 360px !important;
    background: var(--Bg) !important;
}

.simulation_f .offcanvas-header{
    padding: 16px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.simulation_f .offcanvas-header h5{
    color: var(--White);
    font-size: var(--Font_16);
    font-weight: 700;
    margin: 0;
    letter-spacing: 0.32px;
}

.offcanvas_body .box3 h4{
    color: var(--White);
    font-size: var(--Font_14);
    margin: 0 0 8px 0px;
    letter-spacing: 0.28px;
}

.all_profile{
    margin-top: 30px;
    border-radius: 12px;
    background: #253C4E;
    height: 254px;
    overflow-y: scroll;
}

.all_p_b{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: 16px 4px 16px 20px;
    border-bottom: 1px solid var(--Blue3);
}

.all_p_b input{
    width: 16px;
    height: 16px;
    border: 1px solid var(--White);
}

.all_p_b p{
    color: var(--Lg_Blue);
    font-size: var(--Font_16);
    line-height: 140%;
    letter-spacing: 0.32px;
    margin: 0;
}

.input_box2{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.input_box{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input_box h4{
    color: var(--White);
    font-size: var(--Font_14);
    margin: 0;
    letter-spacing: 0.28px;
}

.input_box input{
    width: 100%;
    border-radius: 8px;
    border: 1.7px solid var(--B3);
    background: #253C4E;
    padding: 10px 16px;
    color: #EEF9FF;
    font-size: var(--Font_16);
    margin: 0;
    letter-spacing: 0.32px;
    outline: none;
}

.input_box .select_box select{
    width: 150px;
}

.box_4{
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.box_4 a{
    color: var(--Lg_Blue);
    font-size: var(--Font_14);
    margin: 0;
    letter-spacing: 0.28px;
    padding: 8px 16px;
    border-radius: 12px;
    border: 1px solid var(--B3);
    background: var(--Bg);
    width: 100%;
    text-align: center;
}

.box_4 a:first-child{
    background: var(--Blue);
}


/* table start  */
.table_section{
    margin-top: 24px;
}

.table_section h4{
    color: var(--White);
    font-size: var(--Font_16);
    line-height: 140%;
    letter-spacing: 0.32px;
    margin: 0 0 8px 0;
}

.table{
    border-radius: 12px;
    overflow: hidden;
}

.table thead th{
    color: var(--White);
    font-size: var(--Font_14);
    line-height: 160%;
    padding: 12px 0 12px 24px;
    margin: 0;
    font-weight: 400;
    background: var(--Blue);
}

.table tbody td{
    color: var(--Lg_Bg);
    font-size: var(--Font_14);
    font-weight: 400;
    line-height: 160%;
    margin: 0;
    padding: 12px 0 12px 24px;
}

.table tbody tr:nth-child(even) td{
    border-top: 1px solid var(--Lg_Blue);
    border-bottom: 1px solid var(--Lg_Blue);
    background: #EEF9FF;
}

.pagination_box{
    display: flex;
    justify-content: right;
}

.pagination{
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    margin: 0;
}

.pagination li{
    border-radius: 8px;
    border: 1px solid var(--B3);
    background: var(--Bg);
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.pagination li a{
    color: var(--B2);
    text-align: center;
    font-size: var(--Font_14);
    line-height: 140%;
    letter-spacing: 0.28px;
    margin: 0;
}

.chart_box{
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.chart_box .left,
.chart_box .right{
    width: 100%;
    border-radius: 12px;
    border: 1px solid var(--White);
    background: var(--White);
    padding: 24px;
    position: relative;
}

.chart_box .right canvas,
.chart_box .left canvas{
    padding: 20px 20px 20px 20px;
}

.chart_box .right h5,
.chart_box .left h5{
    color: var(--Blue3);
    font-size: var(--Font_16);
    margin: 0;
    letter-spacing: 0.32px;
    text-align: center;
}

.chart_box .right h6,
.chart_box .left h6{
    color: var(--Blue3);
    font-size: var(--Font_16);
    margin: 0;
    letter-spacing: 0.32px;
    position: absolute;
    top: 25%;
    left: 35px;  
    background: none;  
    transform-origin: 0 0;
    transform: rotate(90deg);
}